/* General Footer Styles */
.footer-container {
    position: relative;
    background-color: #1d4c98;
    min-height: 360px;
    margin-bottom: 140px;
    margin-top: 140px;
}

.footText {
    width: 100%;
    max-width: 540px;
}

.footer-left-h2 {
    font-size: 2.5rem;
    color: #fff;
}

.footer-left-p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.footer-form {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 460px;

    position: absolute;
    top: -82px;
}

@media (max-width: 991px) { 
    .footer-form { top:258px; }
    .footer-container { margin-bottom: 480px;}
}

.input-group-footer {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
}

.input-group-footer .footer-input {
    padding: 15px 12px 15px 40px;
    border: 1.5px solid #888;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;

}

.privacy-policy {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.privacy-policy .privacy-input {
    margin-right: 10px;
}

.privacy-policy .privacy-label {
    font-size: 0.9rem;
    color: #333;
}

.send-btn {
    display: block;
    background-color: #36C5F0;
    color: white;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 202px;
    height: 60px;
}

.send-btn:hover {
    background-color: #5ED0F3;
}

/* Footer Bottom Section */
.footer-bottom {
    height: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.footer-bottom .logo .footer-bottom-image {
    max-width: 320px;
}

.footer-bottom .footer-bottom-p {
    font-size: 0.9rem;
    color: #888;
    margin: 0;
}

.social-icons .footer-social-icon {
    display: block;
    cursor: pointer;
}


/* Icon Styles */


.footer-message {
    height: 10rem;
    border: 1.5px solid #888;
    border-radius: 15px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}


.input-group-image{
    position: absolute;
    left: 2%;
    top: 32%;
}