.introduction-main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.introduction-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    align-items: center;
}

.introdoction-get-start {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introdoction-get-start .introduction-get-start-h2 {
    font-size: 50px;
    line-height: 60px;
    font: Inter;
    padding: 0;
    margin: 0;
}

.introdoction-get-start h2 span {
    font-size: 50px;
    line-height: 60px;
    color: #ED1E5A;
}

.introdoction-get-start .intoduction-get-start-description {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #1C3C84;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}


.introdoction-get-start .introduction-get-start-button {
    background-color: #ED1E5A;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 230px;
    height: 58px;
    padding: 11px 33px 11px 33px;
    gap: 10px;
    border-radius: 39px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
}

.introduction-board {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.introduction-board-main {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.board-title-name {
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    width: 342px;
    height: 46px;
}

.board-title-name-text {
    margin-left: 16px;
}

.bg-turkuoise {
    background-color: rgba(54, 197, 240, 1);
}

.bg-blue {
    background-color: rgba(28, 60, 132, 1);
}

.bg-green {
    background-color: rgba(161, 246, 121, 1);
}

.introduction-board-card-main {
    display: flex;
    gap: 110px;

}

.introduction-board-card {
    border: 1px dashed gray;
    border-radius: 15px;
    width: 342px;
    height: 182px;
}

.introduction-card-icon {
    margin-top: 40px;
    width: 442px;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.board-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}



.introduction-card-icon {
    position: relative;
    animation: moveIcon 10s infinite;
    /* Toplam 8 saniyelik döngü */
}

/* Animasyon tanımı */
@keyframes moveIcon {
    0% {
        transform: translateX(0);
        /* Başlangıç pozisyonu */
    }

    17% {
        transform: translateX(454px);
        /* 454px sağa gider */
    }

    34% {
        transform: translateX(454px);
        /* 454px sağa gider */
    }

    51% {
        transform: translateX(908px);
        /* 454px sağa gider */
    }

    68% {
        transform: translateX(908px);
        /* Ortada bekler */
    }

    85% {
        transform: translateX(0);
        /* Başlangıç pozisyonuna döner */
    }

    100% {
        transform: translateX(0);
        /* Başlangıç pozisyonuna döner */
    }
}

.introduction-board-list{
display: flex;
flex-direction: column;
gap: 18px;
}


/* Responsive adjustments */

@media screen and (max-width: 430px) {
    .introduction-main-container {
        display: flex;
        flex-direction: column;
    }

    .introdoction-get-start{
        width: 390px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    .introduction-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .introdoction-get-start .introduction-get-start-button{
        width: 167px;
        height: 56px;
        border-radius: 39px;
        padding: 15px;
        font-size: 20px;
    }

    .introduction-design{
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .introduction-design-image{
        width: 370px;
        height: 185px;
    }

    .introduction-card-icon {
        animation:none;
        /* Toplam 8 saniyelik döngü */
    }
}
