.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 60, 132);
    width: 100%;
    height: 80px;
}

.navbar {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(28, 60, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    display: inline-flex;
    justify-content: center;
    width: 154px;
    height: 53px;
    gap: 0px;
}

.navbar-leftside {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.navbar .navbar-leftside .leftside-buttons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(28, 60, 132);
    border: none;
    border-radius: 25%;


}

.navbar .navbar-rightside {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: transparent;
}

.navbar-rightside .navbar-demo-button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* SEARCH BAR START */
.navbar-search-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 7.5%;
}

.navbar-search-bar .input-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.navbar-search-bar .navbar-search-input {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    padding: 0px 12px 0px 40px;
    border: 2px solid white;
}

.navbar-search-bar .navbar-search-input:focus {
    outline: none;
    outline-width: none;
}

.navbar-search-bar .navbar-search-input::placeholder {
    color: #94A3B8;
}

.navbar-search-bar .navbar-search-input::-ms-input-placeholder {
    color: #94A3B8
}

.navbar-search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}


.search-dropdown {
    display: flex;
    position: absolute;
    top: calc(100% + 10px);
    flex-direction: column;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 456px;
    left: 0;
    min-height: 300px;
    max-height: 200px;
    height: auto;
    overflow-y: scroll;
}

.search-dropdown:has(.is-empty-search) {
    justify-content: center;
    align-items: center;
    color: #94A3B8;
}

.search-dropdown:has(.search-results) {}

.search-dropdown .task-result {
    border-radius: inherit;
    width: 100%;
    min-height: 40px;
    height: auto;
    background-color: #94A3B8;
}


.searchScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.search-dropdown li {
    list-style: none;
    text-decoration: none;
    color: #1C3C84;
    cursor: pointer;
    border-bottom: .5px solid #CCCCCC;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-dropdown .search-result .top {
    display: flex;
    justify-content: flex-start;
}

.search-dropdown .search-result .top .task-name {
    margin-left: 10px;
}

.search-dropdown .search-result .board-name {
    color: #94A3B8;
    font-size: .75rem;
}


.search-dropdown a:last-child li {
    border-bottom: none;
}

.search-dropdown li:hover {
    background-color: #36C5F0;
    color: white;
}

.search-dropdown li:hover .board-name{
    color: white;
}


.search-dropdown a,
.search-dropdown a:visited,
.search-dropdown a:hover,
.search-dropdown a:active {
    color: inherit;
    text-decoration: none;
}


/* SEARCH BAR END */

/* NOTIFICATION START */
.navbar-notification-button {
    background-color: transparent;
    border: 0;
    position: relative;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.navbar-notification-button #notification-dropdown-toggler {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
    display: none;
}

.navbar-notification-button .notification-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    flex-direction: column;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    overflow: hidden;
    max-height: 800px;
    overflow-y: scroll;
    overflow-anchor: none;
}

.notificationScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-notification-button .notification-dropdown li {
    list-style: none;
    text-decoration: none;
    color: #1C3C84;
    cursor: pointer;
    border-bottom: .5px solid #CCCCCC;
    padding: 15px;
    text-align: left;
}

.navbar-notification-button .notification-dropdown a:last-child li {
    border-bottom: none;
}

.navbar-notification-button .notification-dropdown a,
.navbar-notification-button .notification-dropdown a:visited,
.navbar-notification-button .notification-dropdown a:hover,
.navbar-notification-button .notification-dropdown a:active {
    color: inherit;
    text-decoration: none;
}



.navbar-notification-button .notification-dropdown li[isread="false"] {
    background-color: rgba(100, 100, 100, 0.07)
}

.navbar-notification-button .notification-dropdown li:hover {
    background-color: #36C5F0;
    color: white;
}

.navbar-notification-button .notification-dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 75px;
}

.notification-dropdown .notification-container {
    display: flex;
    flex-direction: column;
}


.notification-dropdown .notification-container .notification-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.notification-dropdown .notification-container .notification-header .notification-header-text {
    max-width: 15em;
    min-width: 15em;
    margin-left: 7.5%;
}

.notification-dropdown .notification-container .notification-content:not(:empty) {
    margin-top: 5%;
    background-color: rgba(100, 100, 100, 0.09);
    border: 0.5px solid rgba(100, 100, 100, 0.15);
    padding: 2%
}


.navbar-notification-button #notification-dropdown-toggler:checked~.notification-dropdown {
    display: flex;
}

body:has(#notification-dropdown-toggler:checked, .navbar-search-input:focus) {
    /*TODO burası bok kokan bir geliştirme*/
    overflow: hidden;
}

.notification-dropdown-header {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 40px;
    border-bottom: 1px solid #94A3B8;
    color: #1C3C84;
}

.notification-dropdown-header:hover {
    background-color: #36C5F0;
    color: white;
    cursor: pointer;
}

.notification-dropdown-header .mark-all-as-read-button {
    margin-right: 2%;
}

/* NOTIFICATION END */

/* PROFILE START */
.navbar-profile-button {
    position: relative;
    width: 50px;
    height: 50px;
}

.navbar-profile-button .navbar-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 70px;
}

.navbar-profile-button #profile-dropdown-toggler {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
    display: none;
}

.navbar-profile-button .profile-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    flex-direction: column;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 10em;
    height: auto;
}

.navbar-profile-button .profile-dropdown li {
    list-style: none;
    text-decoration: none;
    color: #1C3C84;
    cursor: pointer;
    border-bottom: .5px solid #CCCCCC;
    padding: 15px;
    text-align: left;
}

.navbar-profile-button .profile-dropdown li:last-child {
    border-bottom: none;
}

.navbar-profile-button .profile-dropdown li a,
.navbar-profile-button .profile-dropdown li a:visited,
.navbar-profile-button .profile-dropdown li a:hover,
.navbar-profile-button .profile-dropdown li a:active {
    color: inherit;
    text-decoration: none;
}

.navbar-profile-button .profile-dropdown li a:hover {
    color: #ED1E5A;
}

.navbar-profile-button #profile-dropdown-toggler:checked~.profile-dropdown {
    display: flex;
}

/* PROFILE END */