.sidebar {
    width: 250px;
    /* Fixed width */
    background-color: #fff;
    padding: 40px 20px 40px 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
}

.sidebar-line {
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    /* Light gray color */
}


.sidebar-workspaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-plus-icon {
    cursor: pointer;
}

.ml1 {
    margin-left: 1rem;
}

.sidebar-submenu-dot {
    margin-right: 1rem;
}

.sidebar-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.add-workspace {
    color: rgba(172, 172, 172, 1);
}

.sidebar-blue-letter {
    color: rgba(28, 60, 132, 1);
    font-size: 15px;
    line-height: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

}

.sidebar-submenu {
    margin-top: 5%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-submenu span {
    display: block;
    margin: 5px 0;
}
.sidebar-home-icon{
    cursor: pointer;
}

.sidebar-menu.active,.sidebar-blue-letter.active {
    border-radius: 8px;
    color: rgba(54, 197, 240, 1);  /* Metin rengi */
  }
  
  /* Aktif olan img için renk filtresi */
  .sidebar-menu.active,.sidebar-blue-letter.active img {
    color: rgba(54, 197, 240, 1);
}
  
  /* Aktif olan metinlerin rengi */
  .sidebar-menu.active .sidebar-blue-letter,
  .sidebar-menu.active a {
    color:rgba(54, 197, 240, 1);  /* Metin rengi */
  }

.sidebar-submenu-dot.active {
    color: rgba(54, 197, 240, 1) ;
}  
  /* Geçiş efektleri */
  .sidebar-menu {
    transition: all 0.3s ease-in-out;
  }

  .sidebar-workspaces-menu:has(.sidebar-blue-letter.active) > .sidebar-blue-letter{
    color: rgba(237, 30, 90, 1);
  }

.sidebar-menu.active img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(82%) saturate(1196%) hue-rotate(160deg) brightness(101%) contrast(88%);  
}

.workspaces-submenu.active img{
        filter: brightness(0) saturate(100%) invert(64%) sepia(82%) saturate(1196%) hue-rotate(160deg) brightness(101%) contrast(88%);  

    }

.sidebar-workspaces-menu .sidebar-line{
    display: none;
}

.sidebar-workspaces-menu:has(.sidebar-submenu) .sidebar-line{
    display: flex;
}

.sidebar-workspaces-menu:has(.sidebar-submenu-dot.active)>.sidebar-submenu-dot{
    filter: brightness(0) saturate(100%) invert(24%) sepia(91%) saturate(3111%) hue-rotate(329deg) brightness(92%) contrast(102%);
}
.workspaces-submenu{
    margin-bottom: 15px;
}
.sidebar-create-board-icon{
    position: absolute;
    right: 17.5px;
}

.lower-line{
    margin-top: 5px;
}
