.subscription-modal-container{
    width: 1,128px;
    height: 603px;
    top: 189px;
    left: 195px;
    padding: 32px 0px 0px 0px;
    gap: 40px;
    border-radius: 15px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}