.task-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px 15px 0 0;  /* Sadece üst köşeler yuvarlatıldı */
  border-left: 1px solid rgba(28, 60, 132, 0.5);
  border-right: 1px solid rgba(28, 60, 132, 0.5);
  border-top: 1px solid rgba(28, 60, 132, 0.5);
  margin-top: 16px;
  padding: 16px;
  background-color: white;
  opacity: 1;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.task-frame {
  display: flex;
  flex-direction: column;
  width: 268px;
  gap: 16px;
}

.task-content {
  display: flex;
  justify-content: space-between;
  height: 36px;
}

.task-title {
  width: 175px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.15px;
  text-align: left;
  color: #ACACAC;
}

.task-divider {
  width: 268px;      
  height: 1px;            
  background-color: #F2F2F2;           
}

.task-info {
  display: flex;
  margin-top: 15px;
  gap: 6px;
}

.task-date, .task-status {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: #E2E8F0;
  color: #1C3C84;
}

.task-stats {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.stat-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.stat-icon, .extra-icon {
  color: #1C3C84;
}

.stat-text, .extra-text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.15px;
  color: #1C3C84;
}

.task-extra {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px;
  background-color: rgba(226, 232, 240, 0.5);
  border-radius: 0 0 15px 15px; /* Alt köşeleri yuvarlat */
  border-left: 1px solid rgba(28, 60, 132, 0.5);
  border-right: 1px solid rgba(28, 60, 132, 0.5);
  border-bottom: 1px solid rgba(28, 60, 132, 0.5);
  margin-top: 0; /* Footer, task-container'ın hemen altında */
}

/* Eğer alt görev yoksa footer'ı disable yap */
.task-footer.disabled {
  opacity: 0.5; /* Daha soluk görünüm */
  pointer-events: none; /* Tıklanamaz hale getir */
}

/* Alt görev yoksa köşeleri yuvarlat */
.task-container.no-subtasks {
  border-bottom-left-radius: 15px; /* Alt sol köşeyi yuvarlat */
  border-bottom-right-radius: 15px; /* Alt sağ köşeyi yuvarlat */
}



.footer-text {
  font-family: Inter;
  font-size: 14px;
  color: #fff;
}

.footer-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
